<br>
<br>
<br>

<mat-card>  
  
   <form [formGroup]="form"  (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
         
        <br>
        <br>
        <input type="text" name="title" ngModel matInput rows="6" placeholder="Application Name" formControlName="title">
        <mat-error *ngIf="form.get('title').invalid">Please enter your  Application Name </mat-error>
    </mat-form-field>
    <hr>
<mat-form-field>
   
    <br>
    <br>
    <input type=text name ="description" ngModel matInput rows="6" placeholder="Application description" formControlName="description" >
    <mat-error *ngIf="form.get('description').invalid">Please enter your  Application Description </mat-error>
    </mat-form-field>
    <hr>
    Application Type
    <br>
    <br>
    <select type="text" name="type" formControlName="type"> 
        <option *ngFor="let typ of types " [value]="typ.Name">{{typ.Name}}</option>
       
    </select>
    <br>
    
    
     <hr>
     <div  >
        <button mat-stroked-button type="button" (click)="filePicker.click()" >CHOOSE YOUR APPLICATON FILE</button>           
       <input type="file"  #filePicker (change)="onFilePicked($event)">
     </div>
     <div class="file-preview" *ngIf="filePreview !== '' && filePreview">
       <img [src]="filePreview" [alt]="form.value.title">
     </div>
      
     <hr>

<button mat-raised-button color="accent" type="submit" >
   
   save app  
</button>
</form>
</mat-card>


