/* You can add global styles to this file, and also import other style files */
.body {
  margin: 0;
  padding: 0;

  background: #64a8f1;
  background: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
  height: 200vh;
   
}