
    .jumbotron{
        width: 80em 
    }
    .text-center{
        margin-left: 310px;
        font-size: 23px;
        line-height: 150px;
        text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
        font-family:"Segoe print", Arial, Helvetica, sans-serif;
        color: #FF9933; 
        padding:13px;
        font-weight:lighter;
        -moz-box-shadow: 2px 2px 2px #888;  
        -webkit-box-shadow: 2px 2px 6px #888;  
        box-shadow:3px 4px 10px #888; 
        display:inline;
       
      
        
      }
      .text-center2{
        margin-left: 120px;
        font-size: 23px;
        line-height: 150px;
     
        font-family:"Segoe print", Arial, Helvetica, sans-serif;
        color:  rgb(160, 195, 241); 
        padding:13px;
        font-weight:lighter;
        -moz-box-shadow: 2px 2px 2px #888;  
        -webkit-box-shadow: 2px 2px 6px #888;  
        box-shadow:3px 4px 10px #888; 
        display:inline;
       
        
        
      }
      .center{
        margin-left: 160px;   
        padding: 5px;
        text-shadow: 2px 2px 5px rgb(135, 186, 228);
        font-size: xx-large;
        font-family: Courier New ;
        
    
       }




      .files input {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        padding: 120px 0px 85px 35%;
        text-align: center !important;
        margin: 0;
        width: 100% !important;
        ;}
    .files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
        ;}
    .files{ position:relative}
    .files:after {  pointer-events: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50px;
        right: 0;
        height: 56px;
        content: "";
        background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
        display: block;
        margin: 0 auto;
        background-size: 100%;
        background-repeat: no-repeat;
        
       
    }
    .color input{ background-color:#f1f1f1;}
    .files:before {
        position: absolute;
        bottom: 10px;
        left: 0;  pointer-events: none;
        width: 100%;
        right: 0;
        height: 57px;
        content: " or drag it here. ";
        display: block;
        margin: 0 auto;
        color:  rgb(160, 195, 241);
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
       
       
    }
    .container1
    {
        margin-left: 8em;
        width: 60em;
    }

    .app-button{
        margin-left: 150px;
        width: 150px;
        height: 55px;
        background-color: #FF9F33;
        font-size: 23px;
       
       
    }
    .btn {
        text-decoration-color: blanchedalmond ;
        font-size: 20px;
        margin-left: 110px;
        width: 150px;
        height: 55px;
        background-color: rgb(34, 113, 218);
       
    }
    .container  {
        background-color: rgb(246, 246, 241);
        width: 900px;
        margin: 60px;
        height: 1100px;
        padding: 70px;
        margin-left: 320px;
        border:5px solid #FF9F33;
      
       
      }
      body {
        background: #d5dfe9;
        background: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
        height: 200vh;
      }
      
      .modal-content{
padding: 20px;
border:5px solid rgb(160, 195, 241);
      }