<body>
<br>
<br>
 

<br>
<br>


<div class="container">
  <mat-form-field>
  <textarea  matInput rows="6" [(ngModel)]="newvalue"></textarea></mat-form-field>
  <hr>
  <button mat-raised-button
  color="warn" (click)="onAddapp()" >save app</button>
  <p>{{ newApp }}</p>
        <a>
       
            <h1 class="text-center" > Step 2</h1> </a>
        
       <br>
       <a class="center">Upload your application </a>
       <br>
       <br>
       <br>
       <div class="container1">
        <div class="row">
          <div class="col-md-6">
              <form method="post" action="#" id="#">
               
                  
                <div class="p-5 bg-white shadow rounded-lg"><img src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">

                    <!-- Default bootstrap file upload-->
          
                    
          
                    
                  
                  <div class="form-group files">
                    
                    <input type="file" class="form-control" multiple="">
                  </div>
                  <a href="#myModal6" role="button" class="btn btn-default" data-toggle="modal">Configure</a>
  <div id="myModal6" class="modal" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="application-form" class="form" >
            <h3 class="text-center2 text-info">create new application</h3>
            <div class="form-group">
                <label for="name" class="text-info">name:</label><br>
                <input type="text" name="name" id="name" class="form-control"  placeholder="your app name">
            </div>
            <div class="form-group">
                <label for="name" class="text-info">Description</label><br>
                <input type="text" name="description" id="description" class="form-control"  placeholder="Enter description" >
            </div>
         
        <div class="modal-footer">
         
          <button  class="btn btn-primary"  >Valid </button>
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
       
      </form>

      </div>
    </div>
  </div>


                </div>
              </form>
              
              
          </div>

       <br>
       
     
       <br>
       <br>
       <br>
       <br>
       <br>
       
    
    <br>
    <br>
   
  
  </div>
  
  
  <br>
       
    
  <br>
  
  <button type ="button" class="app-button" onclick="window.location.href = '/dashboard';"> create </button>
</div>
</div>
     


</body>