
   <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Application name 
                </a>
            </li>
            <li>
                <a href="">Dashboard</a>
            </li>
            <li>
                <a href="#">configuration</a>
            </li>
            <li>
                <a href="#">Logs</a>
            </li>
            <li>
                <a href="#">Healths</a>
            </li>
            <li>
                <a href="#">Monitoring</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">Alarm</a>
            </li>
            <li>
                <a href="#">Tags</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
   
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
 <!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
