body {
  margin: 0;
  padding: 0;

  background: #64a8f1;
  background: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
  height: 280vh;
   
 
}
.row{
  margin-top:160px;
}
.row1{
  margin-top:20px 
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/



.text-gray {
  color: #999;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
}

h1,
h2 {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top:1px;
  line-height: 0.8;
  text-shadow: 0 0 50px rgb(241, 228, 218);
  transform: translateZ(130px);
  -webkit-transform: translateZ(130px);
  -moz-transform: translateZ(130px);
  color: hsla(0, 0%, 0%, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  letter-spacing: 100px;
  opacity: 0;
  -webkit-animation: OpeningSequence 3.2s ease forwards;
  -moz-animation: OpeningSequence 3.2s ease forwards;
  animation: OpeningSequence 3.2s ease forwards;
}

h1 {
  margin-top: 15rem;
  font-size: 130px;
}

h2 {
 
  font-size: 100px;
}

#title-behind,
#title-the,
#title-lens,
#subtitle {
  letter-spacing: 0px;
  opacity: 1;
  transform: translateZ(20px);
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
}

#title-behind {
  text-shadow: 0 0 15px #fff;
}

#title-the {
  text-shadow: 0 0 5px #fff;
}

#title-lens,
#subtitle {
  text-shadow: 0 0 0px #fff;
}

#subtitle {
  margin-top: 30px;
}

@-webkit-keyframes OpeningSequence {
  0% {
      letter-spacing: 50px;
      opacity: 0;
      transform: translateZ(130px);
      -webkit-transform: translateZ(130px);
      -moz-transform: translateZ(130px);
  }
  100% {
      letter-spacing: 5px;
      opacity: 1;
      transform: translateZ(20px);
      -webkit-transform: translateZ(20px);
      -moz-transform: translateZ(20px);
  }
}

@-moz-keyframes OpeningSequence {
  0% {
      letter-spacing: 50px;
      opacity: 0;
      transform: translateZ(130px);
      -webkit-transform: translateZ(130px);
      -moz-transform: translateZ(130px);
  }
  100% {
      letter-spacing: 5px;
      opacity: 1;
      transform: translateZ(20px);
      -webkit-transform: translateZ(20px);
      -moz-transform: translateZ(20px);
  }
}

@keyframes OpeningSequence {
  0% {
      letter-spacing: 50px;
      opacity: 0;
      transform: translateZ(130px);
      -webkit-transform: translateZ(130px);
      -moz-transform: translateZ(130px);
  }
  100% {
      letter-spacing: 5px;
      opacity: 1;
      transform: translateZ(20px);
      -webkit-transform: translateZ(20px);
      -moz-transform: translateZ(20px);
  }
}
.banner-text
{
 margin-top :25px;
}

