<html>

<body>
<nav class="navbar navbar-expand navbar-dark  " style="background-color:#FF9F33" >
 
  <img class="navbar-brand" src="./assets/index.png" id="logo" height="45" >
  
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="navbar-nav mr-auto mt-5 mt-lg-0">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/"><h4><strong>Home</strong></h4></a>
      </li>

      <li *ngIf="!auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/login"><h4><strong>Login</strong></h4></a>
      </li>
      <li *ngIf="!auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/register"><h4><strong>Register</strong></h4></a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/profile"><h4><strong>{{ auth.getUserDetails()?.first_name }}</strong></h4></a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="" (click)="auth.logout()"><h4><strong>Logout</strong></h4></a>
      </li>
    </ul>
  </div>
  </div>
</nav>





<router-outlet></router-outlet>

</body>
</html>