
   .logo{
       height:20%;
       margin-top:20px ;
       margin-right:20px;
       margin-left: 5px;
   }

   .navbar-brand
{
    position: relative;
    width: 40px;
}
   
.navbar-custom {
    background-color: #ff5500;
    width: 2px;
}
  


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.nav-link {
    color:#110e0e;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}


body {
    background: #d5dfe9;
    background: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
    height: 175vh;
  }
  
  .html{
    background-color: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
  }