<body>
<br>

        <h1 class="text-center" > welcome to SofPaaS</h1>
   
  <div class="container">
   <div class="jumbotron">
      
        <div class="col-sm-12 sm-auto">
        <br>
        <div class="col-lg-8 mb-5">
            <!-- Demo Content-->
           <div class="p-5 bg-white d-flex  shadow-sm rounded h-100">
             

<br><br>
              <div class="text">
               
                <p class="lead font-italic mb-0">widh SofPaaS , you can deploy , monitor , and scale an application quickly and let us do the heavy lifting  so you can focus on your business
                  to deploy your existing web application, To deploy a sample application  </p>
                  
                 
                   <ol><p class="lead font-italic mb-0"> <li>Create an application source </li> </p><p class="lead font-italic mb-0"> <li>click Get started</li></p> <li> <p class="lead font-italic mb-0">choose a name </p></li><li> <p class="lead font-italic mb-0"> select a platfom an click create app.</p> </li></ol> 
        </div>
        
     
        
        <br>
        <br>
        
   

    
    </div>
  </div>
    </div>
    
  </div>
  <button type ="button" class="app-button" onclick="window.location.href = '/Appl';"> Get started </button>
    </div>
</body>