.app-button{
    margin-left: 300px;
    width: 150px;
    height: 55px;
    background-color: #FF9F33;
}
text-center{
    margin-left: 600px;
    font-size: 29px;
    line-height: 180px;
    text-shadow: -1px -1px #fb6, 1px 1px rgb(221, 218, 215), -3px 0 4px #000;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color: rgb(255, 133, 51); 
    padding:10px;
    font-weight:lighter;
    -moz-box-shadow: 2px 2px 2px #888;  
    -webkit-box-shadow: 2px 2px 12px #888;  
    box-shadow:3px 4px 10px #888;  
    text-align:center;
    display:inline;
  }
  

.container{
   
height: 30em;
  width: 50em;
}  
  .text-center{
      margin-left: 200px;
      font-size: 20px;
      line-height: 100px;
      text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
      font-family:"Segoe print", Arial, Helvetica, sans-serif;
      color: #FF9933; 
      padding:10px;
      font-weight:lighter;
      -moz-box-shadow: 2px 2px 2px #888;  
      -webkit-box-shadow: 2px 2px 10px #888;  
      box-shadow:0px 2px 7px #888;  
      text-align:center;
      display:inline;
    }
    body {
      background: #d5dfe9;
      background: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
      height: 190vh;
    }
    .text{
      
      width: 98em;
      height:17em ;
    }
    .p-5 {
      margin-left:3em;
      width: 30em;
      height:5em ;
    }
  .jumbotron{
      margin-left: 30px;
      border:5px solid #FF9F33;
      background-color: rgb(246, 246, 241);
      width: 42em;
      height:35em ;
  }



.text-center{
 
  margin-left: 600px;
  font-size: 29px;
  line-height: 180px;
  text-shadow: -1px -1px #fb6, 1px 1px rgb(221, 218, 215), -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color: rgb(255, 133, 51); 
  padding:10px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 2px #888;  
  -webkit-box-shadow: 2px 2px 12px #888;  
  box-shadow:3px 4px 10px #888;  
  text-align:center;
  display:inline;
}
