 .body {
    height: 100%;
    overflow: hidden;
    background: #000;
  }
  
  .loading-panel {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
  }
  
  .first.loading-panel {
    left: 0;
    background: #D2E3AB;
    animation: slide-in-left 10s ease-out infinite;
  }
  
  .second.loading-panel {
    right: 0;
    background: #2A7689;
    animation: slide-in-right 10s ease-out infinite;
  }
  
  /* Icons */
  .icon-wrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.3);
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
  }
  
  .first.loading-panel .icon-wrapper {
    animation: fade 10s linear infinite, slide-in-bottom 10s ease-out infinite;
  }
  
  .second.loading-panel .icon-wrapper {
    animation: fade 10s linear infinite, slide-in-top 10s ease-out infinite;
  }
  
  .icon-wrapper:before {
    content: ' ';
    width: 34%;
    height: 34%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    position: absolute;
  }
  
  .first.loading-panel .icon-wrapper:before {
    top: -5%;
    left: -5%;
    animation: late-fade 10s linear infinite, circulate-clockwise 1s linear infinite;
  }
  
  .second.loading-panel .icon-wrapper:before {
    bottom: -5%;
    right: -5%;
    animation: late-fade 10s linear infinite, circulate-counterclockwise 1s linear infinite;
  }
  
  .icon-wrapper {
    position: relative;
    text-align: center;
  }
  
  .first.loading-panel .cloud {
    fill: #335367;
  }
  
  .second.loading-panel .cloud {
    fill: #fff;
  }
  
  .icon-wrapper .icon {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -10px;
  }
  
  .first.loading-panel .icon {
    animation: spin-clockwise 2s ease-out infinite;
  }
  
  .second.loading-panel .icon {
    overflow: hidden;
    animation: blind-right 1.42857s ease-out infinite;
    left: 50%;
    margin-left: -17px;
  }
  
  /* Animations */
  @keyframes slide-in-left {
    0% {
      transform: translate(-100%);
    }
    10% {
      transform: translate(0);
    }
    80% {
      transform: translate(0);
    }
    90% {
      transform: translate(-100%);
    }
    100% {
      transform: translate(-100%);
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translate(100%);
    }
    10% {
      transform: translate(0);
    }
    80% {
      transform: translate(0);
    }
    90% {
      transform: translate(100%);
    }
    100% {
      transform: translate(100%);
    }
  }
  @keyframes slide-in-bottom {
    0% {
      top: 120%;
    }
    10% {
      top: 120%;
    }
    15% {
      top: 50%;
    }
    75% {
      top: 50%;
    }
    80% {
      top: 120%;
    }
    100% {
      top: 120%;
    }
  }
  @keyframes slide-in-top {
    0% {
      top: -20%;
    }
    10% {
      top: -20%;
    }
    15% {
      top: 50%;
    }
    75% {
      top: 50%;
    }
    80% {
      top: -20%;
    }
    100% {
      top: -20%;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes late-fade {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes circulate-clockwise {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(10%, 10%);
    }
    50% {
      transform: translate(0%, 20%);
    }
    75% {
      transform: translate(-10%, 10%);
    }
  }
  @keyframes circulate-counterclockwise {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-10%, 10%);
    }
    50% {
      transform: translate(0%, 20%);
    }
    75% {
      transform: translate(10%, 10%);
    }
  }
  @keyframes spin-clockwise {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes blind-right {
    0% {
      width: 0;
      opacity: 0;
    }
    1% {
      width: 0;
      opacity: 1;
    }
    50% {
      width: 35px;
      opacity: 1;
    }
    99% {
      width: 35px;
      opacity: 0;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  .app-button{
      margin-left: 300px;
      width: 150px;
      height: 55px;
      background-color: khaki;
  }





  


  .body{
    height: 100%;
    font-weight: 800;
    height: 100vh;
  }
  
  .svg1 {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

  
 
  .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
      stroke: rgb(164, 204, 197);
      animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
      stroke: #4daff0;
      animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
      stroke: white;
      animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
      stroke: white;
      animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
      stroke: #FDB731;
      animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
