

<body>
    <br>
          <br>
          <br>
          <br>

    <div style="text-align:center"><img class="mt-2"src="https://i.ibb.co/rxKLQ4S/19-1-User-512.png" alt="photo" style="width:20%"></div>


  <div id="register">
      <div class="container">
          
          <div id="register-row" class="row justify-content-center align-items-center">
              <div id="register-column" class="col-md-6">
                  <div id="register-box" class="col-md-12">
                      <form id="register-form" class="form" (submit)="register()">
                          <h3 class="text-center text-info">Register</h3>
                          <div class="form-group">
                              <label for="name" class="text-info">Username:</label><br>
                              <input type="text" name="first_name"  class="form-control" placeholder="Enter your first name" [(ngModel)]="credentials.first_name">
                          </div>
                          <div class="form-group">
                            <label for="name" class="text-info">Last name</label><br>
                            <input type="text" name="last_name"  class="form-control" placeholder="Enter your lastname name" [(ngModel)]="credentials.last_name">
                        </div>
                        <div class="form-group">
                          <label for="Email" class="text-info">Email adress</label><br>
                          <input type="email" name="email"  class="form-control" placeholder="Enter email" [(ngModel)]="credentials.email">
                      </div>
                          <div class="form-group">
                              <label for="password" class="text-info">Password:</label><br>
                              <input type="password" name="password" id="password" class="form-control"  placeholder="Password" [(ngModel)]="credentials.password">
                          </div>
                       <div class="form-group">
                         <button type="submit" class="btn btn-info btn-md">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>