
body {
  margin: 0;
  padding: 0;

  background: #64a8f1;
  background: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
  height: 100;
   
 
}
#register .container #register-row #register-column #register-box {
  margin-top: 120px;
  max-width: 600px;
  height: 480px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
  padding: 20px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
  margin-top: -85px;
}