
 
   
 

  svg {
      
      display: block;
      font: 10.5em 'Montserrat';
      width: 900px;
      height: 300px;
      margin: 0 auto;
  }
  
  .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
      stroke: rgb(164, 204, 197);
      animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
      stroke: #4daff0;
      animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
      stroke: white;
      animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
      stroke: white;
      animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
      stroke: #FDB731;
      animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
  }
  .app-button{
    margin-left: 180px;
    width: 390px;
    height: 60px;
    background-color: hsl(204, 75%, 50%);
   -moz-text-size-adjust: auto;
    font-size: large;
}

  .container{
   

    width: 50em;
}  
    .text-center{
        margin-left: 200px;
        font-size: 20px;
        line-height: 100px;
        text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
        font-family:"Segoe print", Arial, Helvetica, sans-serif;
        color: #FF9933; 
        padding:10px;
        font-weight:lighter;
        -moz-box-shadow: 2px 2px 2px #888;  
        -webkit-box-shadow: 2px 2px 10px #888;  
        box-shadow:0px 2px 7px #888;  
        text-align:center;
        display:inline;
      }
       
  
    .jumbotron{
        margin-left: 30px;
        border:5px solid #FF9F33;
        background-color: rgb(246, 246, 241);
    }
    .text-center1{
        background-color: bisque;
        margin-left: 190px;
        font-size: 26px;
        line-height: 170px;
        text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
        font-family:"Segoe print", Arial, Helvetica, sans-serif;
        color: #FF9933; 
        padding:10px;
        font-weight:lighter;
        -moz-box-shadow: 2px 2px 2px #888;  
        -webkit-box-shadow: 2px 2px 10px #888;  
        box-shadow:0px 2px 7px #888;  
        text-align:center;
        display:inline;
      }