

<div class="container">
  
  <br>
	<div class="row">
   
	<svg viewBox="0 0 860 350">
    <symbol id="s-text">
     
		<text text-anchor="middle" x="50%" y="43%">welcome </text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg>
    </div>
    <div class="container">
        <div class="jumbotron">
          <div class="col-sm-10 sm-auto">
            <h2 class="text-center"> YOUR PROFIL</h2>
          </div>
          <table class="table col-md-6 mx-auto">
            <tr>
              <td>Fist Name</td>
              <td>{{ details?.first_name }}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>{{ details?.last_name }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ details?.email }}</td>
            </tr>
          </table>
        </div>

      <br>
      
     
      <button type ="button" class="app-button" onclick="window.location.href = '/choice';"> move now to choose one service </button>
    
   
      </div>
     
