
.text-center{
    margin-left: 310px;
    font-size: 23px;
    line-height: 150px;
    text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color: #FF9933; 
    padding:13px;
    font-weight:lighter;
    -moz-box-shadow: 2px 2px 2px #888;  
    -webkit-box-shadow: 2px 2px 6px #888;  
    box-shadow:3px 4px 10px #888; 
    display:inline;
    
    
  }
  .center{
    margin-left: 180px;   
    padding: 5px;
    text-shadow: 2px 2px 5px rgb(135, 186, 228);
    font-size: xx-large;
    font-family: Courier New ;

  }
  .container{
    background-color: rgb(246, 246, 241);
    width: 900px;
    margin: 60px;
    height: 800px;
    padding: 70px;
    margin-left: 320px;
    border:5px solid #FF9F33;
    
  
  }
  