
<br>
<br>
<br>
<br>
<div class="container">
<div class="step-num">

        <a>
       
            <h1 class="text-center" > Step 1</h1> </a></div>
        
       
       <div class="plateform">
       <a class="center">Select your platform </a></div>
       <br>
       <br>
       <br>
       <br>
       <br>

    </div>
  
