main {
    margin-top: 1rem;
    width:80%;
    margin:auto;
}
body {
    margin: 0;
    padding: 0;

    background: #64a8f1;
    background: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
    height: 100;
     
   
  }