<html>
<body>
    <br>
    <br>
    <br>
    <br>

<div style="text-align:center"><img class="mt-2"src="https://i.ibb.co/rxKLQ4S/19-1-User-512.png" alt="photo" style="width:20%"></div>


    <div id="login">
       
        <div class="container">
         
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" (submit)="login()">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="email" class="text-info">Username:</label><br>
                                <input type="email" name="username" id="username" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control"  placeholder="Password" [(ngModel)]="credentials.password">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                
                                <button type="submit" class="btn btn-info btn-md">Sign in</button>
                            </div>
                            <div id="register-link" class="text-right">
    
                                <a href="register" class="text-info">Register here</a>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>