
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .html{
    background-color: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
  }
  body {
    margin: 0;
    padding: 0;

    background: #64a8f1;
    background: linear-gradient(to right, rgb(160, 195, 241), rgb(227, 232, 236));
    height: 100;
     
   
  }