:host{
    display: block;
    margin-top: 1rem;
}
.info-text{
    text-align: center;
}
.container  {
    background-color: rgb(246, 246, 241);
    width: 1600px;
    margin: 20px;
   
    padding: 16px;
    margin-left: 20px;
    border:5px solid #FF9F33;
  
   
  }
  .mat-button{
    margin-left: 170px;
}
  