<mat-spinner *ngIf="isLoading"></mat-spinner> 
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
<mat-accordion class="example-headers-align" mult="true" *ngIf="posts.length > 0 && !isLoading">
    
    <mat-expansion-panel *ngFor="let post of posts">
        
      <mat-expansion-panel-header>
          
          <br>
        Application Title 
        <br>
    </mat-expansion-panel-header>
        
       
   
  
    {{ post.title }} 
</mat-expansion-panel>
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        Application Description
    </mat-expansion-panel-header>
    {{ post.description }} 
</mat-expansion-panel>
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            Application type 
        </mat-expansion-panel-header> 
        {{post.type}}
        <hr>
        <div class="post-file">
            <img [src]="post.filePath" [alt]="post.title" >
                    </div>
        <mat-action-row> <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
            <button mat-button coor="primary" onclick="window.location.href = '/dashboard';">DEPLOY</button>
            </mat-action-row> 
</mat-expansion-panel>





        </mat-accordion>
    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeoptions" (page)="onChangedPage($event)"></mat-paginator>
        <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading"> No  Application  added </p>
